<div class="wrap">
<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag "ArtfIt.jpg", class:"avatar-full" %>
    </div>
    <div class="panel panel-default">

      <div class="panel-heading"> </div>
      <div class="panel-body">
        <br>
        Designer or not ?
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h3><%= @user.email %> </h3>
    <div class="description row-space-3">

    </div>
  </div>
</div>
</div>
