<div class="section2">
  <div class="card-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="cat-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1533227539765-2673468b083c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=704661f0c21c7855fe9cf510d5f347fc&auto=format&fit=crop&w=664&q=80');">
          <a href="#" class="card-cat-btn">For Men</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="cat-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1525843164177-5f89f7263e3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2da73e9cc6baf46f3f72e9c467d1480f&auto=format&fit=crop&w=800&q=80');">
          <a href="#" class="card-cat-btn">For Women</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="cat-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1519278409-1f56fdda7fe5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a7a68b27d02eb72fde274bb412ff3ed&auto=format&fit=crop&w=750&q=80');">
          <a href="#" class="card-cat-btn">For Kids</a>
        </div>
      </div>
    </div>
  </div>
</div>


