<div class="product-search hide">
  <%= form_tag designs_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "searchBar",
    placeholder: "Find the theme you love!"
  %>
<% end %>
</div>
