<div class="checkout-wrapper">
  <div class="container">
    <div class="row text-center">
      <h2>Congratulations!</h2>
      <h4> You finally have your own<span class="navbar-wagon-brand-black">   ARTFIT </span> t-shirt</h4>
    </div>
  </div>
</div>
