body {
  background: white;
}

.banner-show {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  h1 {
    margin-top: 0;
  }
  p a {
    text-decoration: none;
    color: white;
  }
}

.container {
  padding: 20px;
}

.shirt-card {
  background: #fafafa;
  padding: 10px;
  margin: 10px;
}

.plain-shirt {
  height: 450px;
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.design {
  position: absolute;
  height: 32%;
  top: 29%;
  left: 30%;
}

.title-flex{
  display: flex;
  align-items: center;
  h3 {
    margin: 0px;
    padding-top: 5px;
  }
  h4 {
    margin: 0px;
    padding-top: 5px;
  }
}

.price {
  margin-top: 30px;
  margin-bottom: 30px;
}

legend.col-form-label.pt-0 {
  width: 0%;
  float: left;
  font-size: 20px;
}

.radio_buttons.optional.product_size {
  margin-top: 20px;
  position: relative;
  top: 50%;
}

.form-check {
  display: inline-block;
  padding-right: 25px;
  position: relative;
  left: 15%;
  vertical-align: middle;
}

.collection_radio_buttons {
  padding-left: 6px;
  margin: 0;
}

#product_quantity {
  width: 30%;
}

.integer.optional.product_quantity{
  float: left;
}

input.btn.btn-danger {
  float: right;
  position: relative;
  left: -63%;
}

.category {

}

