/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  padding-top:60px;
  margin: 0;
  text-align: center;
  color: white;
}

.wrap {
  padding-top:60px;
  .alert-info {
    background: $green;
  }

.alert-warning {
  background: $red;
  }
}


