multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carousel-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

.background-carousel{
  background-image: none!important;
}

// non-related styling:

.section2 {
  background-color: rgba(255,255,255,0.7);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
    h2 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: rgba(0,0,0,0.7);
  }
    h3 {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(0,0,0,0.7);
    margin-top: 40px;
  }
}

.super {
  padding: 20px 0 20px 0 !important;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('https://images.unsplash.com/photo-1519636243899-5544aa477f70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21531763dc7f062effed3a2569519893&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-position: center;
  width: 100% !important;
  height: 160px !important;
  margin-right: 0px !important;
}

.big-container {
  padding: 0px !important;
}

.img-cat {
  // border: solid black 1px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
}





// .card-container {
//   padding: 30px;
// }

// .cat-card {
//   height: 250px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   background-position: center;
//   color: white;
//   position: relative;
//   margin-top: 20px;
// }

// .card-cat-btn {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-size: 15px;
//   text-transform: uppercase;
//   font-weight: 700;
//   font-family: 'Gloria Hallelujah', cursive;
//   color: white;
//   padding: 10px 15px;
//   border-radius: 4px;
//   background: rgba(255,255,255,0.7);
//   transition: background 0.3s ease;
// }

// .card-cat-btn:hover {
//   opacity: 1;
//   background: #dd0a35;
//   text-decoration: none;
//   color: white;
// }
