h2 {
  text-align: center;
}

.row > .col-md-3 > .center > .avatar-full > .panel {
  padding-top : 20px;
  padding-right : 20px;
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color : #edefed;
  font-size: 18px;
  font-weight: 400;
}

.avatar-full {
  padding-top: 20px;
  width : 100%;
}
