.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.6);
}

.footer-bottom{
  height: 100px;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #dd0a35;
}

.footer-logo {
  height: 50px;
  // font-family: 'Anton', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  opacity: 0.6;
  font-size: 15px;
}

.footer .fa-heart {
  color: #dd0a35;
}

.footer-copyright {
  font-size: 12px;
  font-family: 'Gloria Hallelujah', cursive;
  p {
    font-size: 25px;
    padding-left: 65px;
  }
}
